html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    height: 3735px;
    margin: 0 auto;
}

.header {
    background-image: url('stories.jpg') no-repeat center;
    background-size: cover;
}